.container {
  height: 250px;
  width: 250px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 42%;
  border-radius: 100%;
  background-color: black;
}
.container div button{
  background-color: blue;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  border:none;
  /* font-size: 700; */
  font-weight: 700;
  
}
.reset {
  margin-left: 5px;
}
div h1{
  color: white;
}

.header {
  color: black;
  /* text-align: center; */
}
.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid green; */
  /* width: 250px; */
}
.countContainer {
  margin-left: 45%;
}
.countContainer .countOne button{
  color: white;
  background-color: orange;
  padding: 10px;
  font-size: larger;
  font-weight: 700;
  border-radius: 15px;
}
.countOne span {
  color: orange;
}
.countContainer .countTwo button{
  color: black;
  background-color: white;
  padding: 10px;
  font-size: larger;
  font-weight: 700;
  border-radius: 15px;
}
.countThree span {
  color: green;
}
.countContainer .countThree button{
  color: white;
  background-color: green;
  padding: 10px;
  font-size: larger;
  font-weight: 700;
  border-radius: 15px;
}
.countTimer .header {
  color: black;
  padding-left: 30px;
}
.countTimer {
  margin-left: 40%;
}
.countTimer p {
  color: black;
  font-size: larger;
  font-weight: 700;
  padding-left: 150px;
  /* font-weight: bolder; */
}
.countContainer .voteHeader {
    color: black;
    /* margin-right: 20px; */
    position: relative;
    right: 25px;
   
}